{% extends 'base.html.twig' %}

{% block title %}Hello RecipesController!{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="{{path('home')}}" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="{{path('profile')}}" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="{{path('contacts')}}" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false" href="{{ path('app_logout') }}">Logout</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

{% endblock %}
