{% extends 'base.html.twig' %}

{#{% if form is defined %}#}
{#{% form_theme form 'form/my_theme.html.twig' %}#}
{#{% endif %}#}

{% block title %}Register!{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="{{path('recipes')}}" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="{{path('profile')}}" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="{{path('contacts')}}" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
    {% if app.user %}

        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false" href="{{ path('app_logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false" href="{{ path('app_login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false" href="{{ path('app_register') }}">Register</a>
        </li>


    {% endif %}
{% endblock %}

{% block body %}
    <h2>New recipe</h2>
    {{ form(newRecipeForm) }}
{% endblock %}